{% extends 'company/base.html' %}   

{% load static %}

{% block title %} สวัสดีจ้าา ยินดีต้อนรับสู่เว็บ {% endblock title %}

{% block content %}


    <div class="pricing-header p-3 pb-md-4 mx-auto text-left">

      <h1 class="display-4 fw-normal text-body-emphasis">ENGDEV</h1>
      <p class="fs-5 text-body-secondary">บ้านหลังเล็กๆที่อบอุ่น  ดูแลเหมือนครอบครัว  ติวสอบเข้ามหาวิทยาลัย </p>
      
    </div>

<img src="{% static 'image/dataeng.png' %}" alt="Dataeng image">

   
<! –– ส่วนแสดงผลข้อมูลจากฐานข้อมูล ––>
    <center>
      {% for pd in allproduct %}
        <h2>{{ pd.title }}</h2>
        <p>
          รายละเอียด: {{ pd.description }}<br>
          ราคา: {{pd.price}} บาท<br>
          เหลือในคลัง: {{pd.quantity}}<br>

        </p>
        <hr>
      {% endfor %}
    </center>

 



    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Mock Exam</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">Sign up for free</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Pro</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$15<small class="text-body-secondary fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Get started</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-bg-primary border-primary">
            <h4 class="my-0 fw-normal">Enterprise</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29<small class="text-body-secondary fw-light">/mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
              <li>15 GB of storage</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-primary">Contact us</button>
          </div>
        </div>
      </div>
    </div>



    </div>
{% endblock content %}